<h1><%= @user.name %></h1>
<p>(<%= @user.username %>)</p>

<% if @user == current_user %>
	<input type="button" onclick="location.href='/lists/new'" value="New list">
	<input type="button" onclick="location.href='/users/<%= @user.slug %>/edit'" value="Edit info">
	<br><br>
<% end %>


	<% @user.lists.each do |list| %>
		<ul class="lists" onclick="location.href='/lists/<%= list.id %>'">
			<h2><a class="links" href="/topics/<%= list.topic.slug %>"><%= list.topic.name %></a></h2>
			<ul>
				<% list.arrayed_contents.each.with_index(1) do |c, i| %>
					<li><%= i %>. <%= c %></li>
				<% end %>
			</ul>
		</ul>
	<% end %>
<br><br>
